%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
%% Rebar Plugins ===============================================================
{plugins, [ rebar3_proper
          ]}.

%% Compiler Options ============================================================
{erl_opts, [ debug_info
           , warnings_as_errors
           ]}.

%% EUnit =======================================================================
{eunit_opts, [ verbose
             , {report, {eunit_surefire, [{dir, "."}]}}
             ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{profiles, [{test, [{deps, [{proper, "1.2.0"}, recon]}
                   ]}
           ]}.
